.container {
	width: 90%;
	margin: 0 auto;
}

input {
	background-color: #c4bebf;
}

input[type="button"]{
	background-color: #1692cc;
	color: white;
}

div.centrar {
	display: flex;
	justify-content: center;
}

hr {
	margin: 0.8em 0 .8em 0;

}
.enLinea {
	display: inline;
}

footer {
	background-color: #c4bebf;
}

/*.formulario{
    margin: auto;
}*/

.formulario__input-mal {
	margin: auto;
	display: none;
}
.formulario__input-mal-activo {
	display: block;
}


.mostrar {
	display: inline;
}

.formulario__grupo-mal {
	/*background-color: red;*/
	border: 5px solid red;
	border-radius: 10px;
    width: 43%;
}

.formulario__grupo-bien {
	/*background-color: green;*/
	border: 5px solid green;
	border-radius: 10px;
    width: 43%;
}

.mal{
	height: 15px;
	display: none;
}


.bien{
	height: 15px;
	display: none;
}

/*.formularioS{

	padding: 2px;
	margin: auto;
}*/

.container{

	height: 900px;
	margin: 20px;
	width: 100%;
}


.img{
    margin: auto;
    width: 100%;
    height: 150px;
}

.search{
    height: 200px;
}


.separacion{
    height: 20px;
}
